RBFE heating at lambda @LAMBDA@
&cntrl
  imin=0,
  irest=0,
  ntx=1,
  nstlim=@HEATING_STEPS@,
  dt=@TIMESTEP_PS@,
  tempi=0.0,
  temp0=@TEMPERATURE@,
  ntt=3,
  gamma_ln=1.0,
  ig=@RANDOM_SEED@,
  ntb=1,
  ntc=2,
  ntf=1,
  cut=10.0,
  ntpr=@TRAJECTORY_INTERVAL@,
  ntwx=@TRAJECTORY_INTERVAL@,
  ntwr=@TRAJECTORY_INTERVAL@,
  icfe=1,
  clambda=@LAMBDA@,
  timask1='@MASK_A@',
  timask2='@MASK_B@',
  scmask1='@MASK_A@',
  scmask2='@MASK_B@',
  ifsc=1,
  scalpha=0.5,
  scbeta=12.0,
  aces26=1,
  gti_sc_cc_energy_terms='ele,vdw,ele14,vdw14',
  gti_sc_sc_energy_terms='',
/
