RBFE production at lambda @LAMBDA@
&cntrl
  imin=0,
  irest=1,
  ntx=5,
  nstlim=@PRODUCTION_STEPS@,
  dt=@TIMESTEP_PS@,
  temp0=@TEMPERATURE@,
  ntt=3,
  gamma_ln=1.0,
  ig=-1,
  ntb=2,
  ntp=1,
  barostat=2,
  pres0=@PRESSURE@,
  taup=2.0,
  ntc=2,
  ntf=1,
  cut=10.0,
  ntpr=@TRAJECTORY_INTERVAL@,
  ntwx=@TRAJECTORY_INTERVAL@,
  ntwr=@TRAJECTORY_INTERVAL@,
  ioutfm=1,
  icfe=1,
  clambda=@LAMBDA@,
  timask1='@MASK_A@',
  timask2='@MASK_B@',
  scmask1='@MASK_A@',
  scmask2='@MASK_B@',
  ifsc=1,
  scalpha=0.5,
  scbeta=12.0,
  aces26=1,
  gti_sc_cc_energy_terms='ele,vdw,ele14,vdw14',
  gti_sc_sc_energy_terms='',
  ifmbar=1,
  mbar_states=@MBAR_STATES@,
  mbar_lambda=@MBAR_LAMBDAS@,
  bar_intervall=@MBAR_INTERVAL@,
/
