One weighted-ensemble segment
&cntrl
  imin=0, irest=1, ntx=5, ntxo=2,
  ntb=0, igb=1, cut=999.0, rgbmax=999.0,
  nstlim=500, dt=0.002,
  ntt=3, gamma_ln=5.0, temp0=300.0, ig=WEST_SEED,
  ntc=1, ntf=1, ntpr=500, ntwx=0, ntwr=500,
/
