@RESTART@

ene: ENERGY

ecv: ECV_MULTITHERMAL ...
  ARG=ene
  TEMP=300
  TEMP_MIN=300
  TEMP_MAX=500
... ECV_MULTITHERMAL

opes: OPES_EXPANDED ...
  ARG=ecv.ene
  PACE=500
  FILE=DELTAFS
  @STATE_RFILE@
  STATE_WFILE=opes.state
  STATE_WSTRIDE=50000
... OPES_EXPANDED

PRINT ARG=ene,ecv.ene,opes.bias STRIDE=5000 FILE=COLVAR
