RBFE NPT equilibration at lambda @LAMBDA@
&cntrl
  imin=0,
  irest=1,
  ntx=5,
  nstlim=50000,
  dt=0.002,
  temp0=300.0,
  ntt=3,
  gamma_ln=1.0,
  ig=-1,
  ntb=2,
  ntp=1,
  barostat=2,
  pres0=1.0,
  taup=2.0,
  ntc=2,
  ntf=1,
  cut=10.0,
  ntpr=5000,
  ntwx=5000,
  ntwr=5000,
  icfe=1,
  clambda=@LAMBDA@,
  timask1=':BNZ',
  timask2=':MBN',
  scmask1=':BNZ',
  scmask2=':MBN',
  ifsc=1,
  scalpha=0.5,
  scbeta=12.0,
  aces26=1,
  gti_sc_cc_energy_terms='ele,vdw,ele14,vdw14',
  gti_sc_sc_energy_terms='',
/
